:root {
    overflow-wrap: anywhere;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: auto;
    background: linear-gradient(#fa8d9c, #a5ffff);

    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

a {
    display: block;
    background-color: white;
    padding: 0.5rem;
    border-radius: 8px;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        filter: brightness(90%);
    }
    &:active {
        filter: brightness(80%);
    }
}
